*.svn-base
DomainOntologyAPI/.svn/format
DomainOntologyAPI/.svn/entries
*.db
*.prefs
DomainOntologyAPI/.project
DomainOntologyAPI/.classpath
*.class
.idea/
*.iml
bin/
DomainOntologyAPI/hs_err_pid14913.log
/.classpath
/.project
target/
out/
.metadata/
.settings/
.DS_Store
nbactions.xml
